<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <title>Rutas Optimas</title>
    <style>
        body{
            background-color: cornflowerblue;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var coord = {
                'JiloYork': [19.953032045122768, -99.53269994155708],
                'Toluca': [19.29745254534116, -99.65710681903944],
                'Atlacomulco': [19.79878294899932, -99.87626121969151],
                'Guadalajara': [20.666064996435196, -103.35533164256145],
                'Monterrey': [25.702280705370654, -100.32997573668852],
                'Cancun': [21.175778310245846, -86.80662399466596],
                'Michoacan': [19.69961503329635, -101.19481450213483],
                'Aguascalientes': [21.884450124362946, -102.29310472047736],
                'CDMX': [19.43267930426511, -99.13367307426748],
                'Queretaro': [20.596794350639435, -100.3873402154955],
                'almacen': [19.901773064454815, -99.34447206557506]
            };

            var pedidos = {
                'JiloYork': 10,
                'Toluca': 15,
                'Atlacomulco': 30,
                'Guadalajara': 20,
                'Monterrey': 40,
                'Cancun': 50,
                'Michoacan': 25,
                'Aguascalientes': 45,
                'CDMX': 60,
                'Queretaro': 100,
                'almacen': 0
            };

            var max_carga = 150;

            function mostrarRutasOptimas() {
                $.ajax({
                    type: "POST",
                    url: "http://127.0.0.1:5000/rutas_optimas",
                    data: JSON.stringify({
                        coord: coord,
                        pedidos: pedidos,
                        max_carga: max_carga
                    }),
                    success: function(response) {
                        var rutasOptimas = response.map(function(ruta) {
                            return "<li>" + ruta.join(" ---- ") + "</li>";
                        }).join("");
                        $("#rutasOptimas").html("<ul>" + rutasOptimas + "</ul>");
                    },
                    error: function(xhr, status, error) {
                        console.log(xhr.status + ": " + xhr.statusText);
                    },
                    dataType: "json",
                    contentType: "application/json"
                });
            }

            function agregarCoordenada() {
                var nombre = $("#nombre_coordenada").val();
                var latitud = parseFloat($("#latitud").val());
                var longitud = parseFloat($("#longitud").val());

                if (!isNaN(latitud) && !isNaN(longitud)) {
                    coord[nombre] = [latitud, longitud];
                    $("#nombre_coordenada").val("");
                    $("#latitud").val("");
                    $("#longitud").val("");
                } else {
                    alert("Por favor, ingresa valores numéricos válidos para la latitud y longitud.");
                }
            }

            function agregarPedido() {
                var nombre = $("#nombre_pedido").val();
                var peso = parseInt($("#peso").val());

                if (!isNaN(peso)) {
                    pedidos[nombre] = peso;
                    $("#nombre_pedido").val("");
                    $("#peso").val("");
                } else {
                    alert("Por favor, ingresa un valor numérico válido para el peso del pedido.");
                }
            }

            $("#btn_agregar_coordenada").click(function() {
                agregarCoordenada();
            });

            $("#btn_agregar_pedido").click(function() {
                agregarPedido();
            });

            $("#btn_mostrar_ruta_optima").click(function() {
                mostrarRutasOptimas();
            });
            
            $("#btn_agregar_ruta").click(function() {
                var nombre = $("#nombre_ruta").val();
                var ciudades = $("#ciudades_ruta").val().split(",");
                var nuevaRuta = [];

                for (var i = 0; i < ciudades.length; i++) {
                    var ciudad = ciudades[i].trim();
                    if (coord.hasOwnProperty(ciudad)) {
                        nuevaRuta.push(ciudad);
                    } else {
                        alert("La ciudad '" + ciudad + "' no existe en las coordenadas.");
                        return;
                    }
                }

                pedidos[nombre] = 0;
                coord[nombre] = coord[nuevaRuta[0]];
                nuevaRuta.unshift(nombre);

                mostrarRutasOptimas();
            });

            $("#btn_modificar_carga").click(function() {
                var carga = parseInt($("#maxCarga").val());

                if (!isNaN(carga)) {
                    max_carga = carga;
                    mostrarRutasOptimas();
                } else {
                    alert("Por favor, ingresa un valor numérico válido para la carga máxima.");
                }
            });
        });
    </script>
</head>
<body>
    <div>
        
        <center>
           <h1 class="mt-5">Rutas Optimas</h1>
           
        <br>
        <h2>Agregar nueva ciudad</h2>
        <label for="nombre_coordenada">Ciudad:</label>
        <input class="bg-info" type="text" id="nombre_coordenada"><br><br>
        <label for="latitud">Latitud:</label>
        <input class="bg-warning" type="text" id="latitud"><br><br>
        <label for="longitud">Longitud:</label>
        <input class="bg-secondary" type="text" id="longitud"><br><br>
        <button class="btn btn-success" id="btn_agregar_coordenada">Agregar Coordenada</button>
        <br><br><br>
        
        <h2>Agregar nuevo pedido</h2>
        <br>
        <label for="nombre_pedido">Ciudad:</label>
        <input class="bg-danger-subtle" type="text" id="nombre_pedido"><br><br>
        <label for="peso">Peso:</label>
        <input class="bg-info-subtle" type="text" id="peso"><br><br>
        <button class="btn btn-info" id="btn_agregar_pedido">Agregar Pedido</button>
        <br><br><br>
        
        <h2>Modificar carga máxima</h2>
        <br>
        <label for="maxCarga">Carga máxima:</label>
        <input class="bg-info-subtle" type="number" id="maxCarga" value="150">
        <button class="btn btn-warning" id="btn_modificar_carga">Modificar Carga</button>
        <br><br><br>
        <button class="btn btn-dark" id="btn_mostrar_ruta_optima">Mostrar Rutas Óptimas</button>
        <br><br>
        <h2>Rutas Óptimas:</h2>
        <br>
        <div id="rutasOptimas"></div>
    </div>
</center>
</body>
</html>
